<h1>Dice Roll</h1>

<% x = 1 + rand(6) %>
<img src="http://www.kiei925.com/images/dice/<%= x %>.png">



<% y = 1 + rand(6) %>
<img src="http://www.kiei925.com/images/dice/<%= y %>.png">



